<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CNode:Node.js专业中文社区</title>
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include('component/header.ejs') -%>
  <div id="main">
    <div id="sidebar">
      <%- include('component/sidebar_logon.ejs') -%>
      <%- include('component/sidebar_ad.ejs') -%>
      <%- include('component/sidebar_noReplyTopic.ejs') -%>
      <%- include('component/sidebar_point.ejs') -%>
      <%- include('component/sidebar_community.ejs') -%>
      <%- include('component/sidebar_erweima.ejs') -%>
    </div>
    <div id="container">
      <%- include('component/topicList.ejs') -%>
      <%- include('component/topicDetails.ejs') -%>
    </div>
    <div style="clear:both;"></div>
  </div>
  <%- include('component/footer.ejs') -%>
  <script src="/javascripts/index.js"></script>
</body>

</html>