<div id="topicListContainer">
    <div class="header">
        <ul class="topic-list-header">
            <li><a class="active" href="javascript:void(0);">全部</a></li>
            <li><a href="javascript:void(0);">精华</a></li>
            <li><a href="javascript:void(0);">分享</a></li>
            <li><a href="javascript:void(0);">问答</a></li>
            <li><a href="javascript:void(0);">招聘</a></li>
            <li><a href="javascript:void(0);">客户端测试</a></li>
        </ul>
    </div>
    <div class="topic-list">
        <ul class="topic-list-item">
            <% for(var i = 0; i < topics.length; i++) { %>
                <li>
                    <a class="float-left" href="javascript:void(0);"><img style="height:30px;width:30px;" src="<%= topics[i].topicUserImg %>"></a>
                    <span class="float-left reply-click">
                    <span>
                        <% if(topics[i].comments.length){ %>
                            0
                        <% }else{ %>
                            <%= topics[i].comments.length %>
                        <% } %>
                    </span>
                    <span>/</span>
                    <span><%= topics[i].clickCount %></span>
                    </span>
                    <a href="javascript:void(0);" class="float-right last-reply-user">
                    <img class="reply-user-image" src="<%= topics[i].topicUserImg %>">
                    <span>5天前</span>
                </a>
                    <div>
                        <span class="small-margin-left label-style">置顶</span>
                        <a id="<%= topics[i]._id %>" class="topic-title"><%= topics[i].title %></a>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</div>