<div>
    <div class="topic-details">
        <div class="topic-header">
            <h2><%= topicDetails.title %></h2>
            <ul class="topic-header-details">
                <li>发布于2天前</li>
                <li>作者 <a href="/user/<%= topicDetails.topicUser %>"><%= topicDetails.topicUser %></a></li>
                <li>浏览 <%= topicDetails.clickCount %></li>
                <li>来自 
                    <% switch(topicDetails.board){case 1: %>
                    分享
                    <% break; %>
                    <% case 2: %>
                    问答
                    <% break; %>
                    <% case 3: %>
                    招聘
                    <% break; %>
                    <% case 4: %>
                    客户端测试
                    <% break;} %>
                </li>
            </ul>
            <div class="clear-left small-margin-botton"></div>
        </div>
        <div class="topic-content">
            <%= topicDetails.content %>
        </div>
    </div>
    <div class="topic-replies">
        <div class="topic-replies-header">
            2人回复
        </div>
        <div class="topic-replies-container">
            <ul class="topic-replies-list">
                <li>
                    <img class="reply-topic-user" src="/images/CNode.jpg">
                    <div class="topic-replies-item-title">
                        <span class="small-margin-left">xxxxx</span>
                        <a class="small-margin-left">xxxxx</a>
                    </div>
                    <div class="topic-replies-item-container">
                        xxxxxxx
                    </div>
                </li>
                <li>
                    <img class="reply-topic-user" src="/images/CNode.jpg">
                    <div class="topic-replies-item-title">
                        <span class="small-margin-left">xxxxx</span>
                        <a class="small-margin-left">xxxxx</a>
                    </div>
                    <div class="topic-replies-item-container">
                        xxxxxxx
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>